* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: url("../img/2108.w026.n002.755B.p1.755.jpg") center / cover fixed;
    overflow-y: auto;
}


/* content */

.content {
    min-height: 100vh;
    /* biar tetap turun ke tengah */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px;
}


/* card transparant */

.registration-card {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 20px;
    max-width: 400px;
    width: 95%;
    text-align: center;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    margin-top: 3rem;
}

.registration-card h1 {
    font-weight: 750;
}

hr {
    margin: 2rem;
}


/* input styling */

input,
textarea {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    color: #fff;
    transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
    outline: none;
    border-bottom: 1px solid #fff;
}


/* button */

button {
    background: #5a193b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: #751d50;
}


/* hasil hack */

.article {
    background-color: #FAFAFA;
    text-align: center;
    margin: 30px auto;
    padding: 10px 16px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.02);
    max-width: 400px;
    width: 95%;
}

.article h2 {
    font-size: larger;
}

.article p {
    font-size: medium;
    font-weight: 300;
}

.daftar_pesans {
    padding: 15px 20px;
    border: none;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
}

.daftar_pesans:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.daftar_pesans p {
    margin: 10px 0;
    color: #555;
    line-height: 1.5;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}

.daftar_pesans p strong {
    color: #333;
    font-weight: 600;
    flex-basis: 30%;
    text-align: left;
}


/* alert */

.alert {
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    margin: 1.5rem 0 0 0;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #5f27e0;
    color: #dcff15;
    border-color: #c3e6cb;
}